.Header {
    position: fixed;
    top: 0;
    left: 0;
}

.Header .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.Header ul {
    display: flex;
    flex: 1;
    gap: 30px;
}

.Header ul .Head_Nav {
    border-color: rgb(255, 149, 0);
    border-radius: 1.5rem;
    color: rgb(255, 149, 0);
    height: 40px;
}


.Header ul .Head_Nav:hover {
    color: rgb(255, 255, 255);
    background: rgb(255, 149, 0);
}