.Wrapper {
    width: 1900px;
    overflow: hidden;
}

.header {
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
    z-index: 999;
}

.header .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.header .logo {
    height: 24px;
}

.header ul {
    display: flex;
    flex: 1;
    gap: 30px;
}

.header ul .Head_Nav {
    border-color: rgb(255, 149, 0);
    border-radius: 1rem;
    color: rgb(255, 149, 0);
    height: 40px;
    width: 100px;
    justify-content: center;
    text-align: center;
}


.header ul .Head_Nav:hover {
    transform: translate(0%, -24%);
    height: 40px;
    color: rgb(255, 255, 255);
    background: rgb(255, 149, 0);
    padding-top: 10px;
    text-align: center;
}

.mainvisual .container {
    padding: 150px 0 130px 0;
    width: 1200px;
    margin: 0 auto;
}

.mainvisual span {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.45em;
}

.mainvisual h2 {
    font-size: 55px;
    font-weight: 500;
    line-height: 1.45em;
    margin-bottom: 50px;
}

.mainvisual .download {
    display: flex;
    gap: 50px;
}

.mainvisual .download button {
    cursor: pointer;
    padding: 10px;
    display: flex;
    gap: 10px;

}


.mainvisual p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45em;
}


/* 슬릭 아이템 간격 없는게 더이쁜듯 */
/* .mainslide .slick-slide{
    margin: 0 10px;
} */

.mainerror .back {
    background: #f5f5f5;
}

.mainerror .container {
    width: 1200px;
    padding: 100px 0;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.mainerror .container .left {
    flex: 1;
}

.mainerror .container .left h3 {
    font-size: 31px;
    font-weight: 500;
    line-height: 1.45em;
    margin-bottom: 30px;
}

.mainerror .container .left p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.45em;
}

.mainerrorsub .container {
    padding: 100px 0;
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.mainerrorsub .container p {
    font-size: 31px;
    font-weight: 500;
    line-height: 1.45em;
    margin-bottom: 30px;
}

.mainerrorsub .container li {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    vertical-align: middle;
    border: 1px solid rgb(255, 149, 0);
    border-radius: 20px;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.45em;
}

.mainerrorsub .container li:hover {
    color: #fff;
    background: rgb(255, 149, 0);
}

.mainerrorsub .container ul li:not(:last-of-type) {
    margin-bottom: 20px;
}

.mainsolution .container {
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
    background: #f9f9f9;
}

.mainsolution p {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.45em;
}

.mainsolution span {
    font-size: 29px;
    font-weight: 500;
    color: rgb(255, 149, 0);
}

.mainservice .container {
    padding: 100px 0;
    width: 1200px;
    margin: 0 auto;
}

.mainservice .wrap {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.mainservice .service{
    text-align: center;
}

.mainservice .service h3{
    font-size: 41px;
    font-weight: 500;
    line-height: 1.45em;
    margin-bottom: 30px;
    padding-top: 100px;
}

.mainservice .service p{
    font-size: 23px;
    font-weight: 400;
    line-height: 1.45em;
    margin-bottom: 100px; 
}

.mainservice .service .border{
    display: flex;
    flex: 1;
    gap: 50px;
    border-radius: 15px;
    border: 1px solid #ddd;
    padding: 20px;
}

.mainservice .service .top{
    margin-bottom: 30px;
}

.mainservice .service .border p{
    font-size: 29px;
    font-weight: 400;
    line-height: 1.45em; 
    margin-bottom: 0px; 
   margin: 0 auto;
}


.mainservice .mokup {
    display: flex;
    gap: 20px;
}

.mainservice .slick-dots{
    bottom: -70px;
}

footer {
    background: #f9f9f9;
    padding: 50px 0;
}

footer .container {
    text-align: center;
}

footer .container .logo {
    margin: 0 0 30px 0;
}


footer .container .logo_p {
    margin: 0 0 50px 0;
    font-weight: 300;
}

footer .container .logo_p p {
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 30px;
}

footer .container .logo_p span {
    font-weight: 700;
}

footer .container .logo_p .warning {
    font-size: 17px;
    font-weight: 300;
}


footer .container ul li {
    display: inline-block;
    padding: 0 20px;
    margin: 0 0 50px 0;
    font-size: 17px;
    font-weight: 500;
}

footer .container .sns {
    margin: 0 0 30px 0;
}

footer .container i {
    font-size: 25px;
    padding: 0 10px;
}

footer .container .copyright {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.3;
}